node_modules
.cache
.gocache
dist
cmd/gestalt-scip/dist
cmd/gestalt-scip/bin
cmd/gestalt-scip/node_modules
logs
frontend/build
frontend/bindings
.gestalt/*
!.gestalt/PLAN.org
config/manifest.json
internal/version/build_info.json
otel/ocb
otel/otelcol-gestalt
otel/go.*
otel/*.go
