node_modules
.cache
.gocache
dist
logs
frontend/build
frontend/bindings
.gestalt/*
!.gestalt/PLAN.org
config/manifest.json
internal/version/build_info.json
otel/ocb
otel/otelcol-gestalt
otel/go.*
otel/*.go
gestalt
gestalt-send
