{
    "repositoryUrl": "git@github.com:dyne/gestalt.git",
    "dryRun": false,
    "plugins": [
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "angular"
            }
        ],
        [
            "@semantic-release/npm",
            {
                "npmPublish": false
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md",
                    "package-lock.json",
                    "package.json"
                ],
                "message": "chore(release): 🚀 ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ],
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "make release"
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "dist/gestalt-darwin-amd64.tar.gz",
                        "name": "gestalt-darwin-amd64.tar.gz"
                    },
                    {
                        "path": "dist/gestalt-darwin-arm64.tar.gz",
                        "name": "gestalt-darwin-arm64.tar.gz"
                    },
                    {
                        "path": "dist/gestalt-linux-amd64.tar.gz",
                        "name": "gestalt-linux-amd64.tar.gz"
                    },
                    {
                        "path": "dist/gestalt-linux-arm64.tar.gz",
                        "name": "gestalt-linux-arm64.tar.gz"
                    },
                    {
                        "path": "dist/gestalt-windows-amd64.tar.gz",
                        "name": "gestalt-windows-amd64.tar.gz"
                    },
                    {
                        "path": "dist/gestalt-windows-arm64.tar.gz",
                        "name": "gestalt-windows-arm64.tar.gz"
                    }
                ]
            }
        ]
    ],
    "branches": [
        "main"
    ]
}