:root {
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #141414;
  background-color: #f4f4ef;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
