
{{include AGENTS.md}}
{{include CLAUDE.md}}
{{include CRUSH.md}}
{{include .github/copilot-instructions.md}}

### Instructions specific to this installation

{{include .gestalt/instructions.md}}

## Project README

{{include README.md}}
